.clients {
  padding-top: 94px;
  padding-bottom: 126px;
  padding-left: 213px;
  padding-right: 213px;

  background-color: #5a98d0;
  border-radius: 200px 0 0 0;

  @media (max-width: 1400px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.clients__content-title {
  max-width: 225px;
  margin: 0;
  margin-right: 95px;

  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 1.8px;

  @media (max-width: 1024px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.clients__content-text {
  max-width: 540px;
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.8px;
  opacity: 0.6;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;

  max-width: 940px;
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 2px solid #5a98d0;
  outline-offset: -1px;
}

.clients__item {
  width: 25%;
  height: 129px;

  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 129px;

  background-color: #5a98d0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  outline: 1px solid rgba(255, 255, 255, 0.6);
  transition: background-color 0.5s;

  @media (max-width: 768px) {
    width: 50%;
  }

  &:hover {
    background-color: rgba(31, 63, 104, 0.2);
  }
}

.footer__main {
  padding-right: 197px;
}

.clients__content {
  display: flex;
  margin-bottom: 111px;

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.clients__item--more {
  text-transform: unset;
}
