.contact__banner {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;

  background-image: url("../img/image-banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__banner-title {
  margin: 0;
  margin-bottom: 17px;

  color: #ffffff;
  font-size: 44px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 1.8px;
}

.contact__banner-text {
  max-width: 780px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.contact__main {
  display: flex;
  justify-content: space-between;

  padding-top: 57px;
  padding-bottom: 57px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contact__form {
  width: 540px;
  padding: 56px;

  background-color: #ffffff;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;

  @media (max-width: 1024px) {
    width: auto;
    max-width: 540px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.contact__form form,
.contact__form label {
  display: flex;
  flex-direction: column;
}

.contact__form label {
  margin-bottom: 30px;
}

.contact__form input {
  width: 100%;
  height: 72px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 72px;

  opacity: 0.4;
  border: 1px solid #356ead;
  border-radius: 10px;
  outline: none;
  transition: 0.5s;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.contact__form textarea {
  width: 100%;
  height: 144px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 16px;
  letter-spacing: 0.04em;
  resize: none;
  outline: none;

  opacity: 0.4;
  border: 1px solid #356ead;
  border-radius: 10px;
  transition: 0.5s;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.contact__form span {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  opacity: 0.8;
}

.contact__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.contact__info-text {
  max-width: 300px;
  margin: 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  opacity: 0.6;
  letter-spacing: 0.7px;
}

.contact__info-item-link {
  max-width: 300px;

  color: $blue;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.5s;
  letter-spacing: 0.7px;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.contact__info-block--servise .contact__info-item-link {
  font-weight: 400;
}

.contact__info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact__info {
  width: 325px;
  padding-top: 63px;
}

.contact__info-image {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 71px;
}

.contact__info-block {
  margin-bottom: 40px;
}

.contact__info-item {
  margin-bottom: 16px;
  padding-left: 40px;
}

.contact__map {
  padding-top: 40px;
  padding-bottom: 96px;
}

.contact__info-block--phone .contact__info-item {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 2px;

    width: 18px;
    height: 18px;
    margin-top: -9px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
  }
}

.contact__info-block--servise .contact__info-item {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 2px;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
  }
}

.contact__info-block--servise .contact__info-item--www {
  &::before {
    background-image: url("../img/icon-lang.svg");
  }
}

.contact__info-block--servise .contact__info-item--mail {
  &::before {
    background-image: url("../img/icon-email.svg");
  }
}

.contact__form .contact__title {
  margin-bottom: 47px;
}

.contact__button {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-top: 40px;

  letter-spacing: 0;
  text-transform: uppercase;
}
